
@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1492137439402'); /* IE9*/
  src: url('fonts/iconfont.eot?t=1492137439402#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff?t=1492137439402') format('woff'), /* chrome, firefox */
  url('fonts/iconfont.ttf?t=1492137439402') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg?t=1492137439402#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-param:before { content: "\e6a0"; }

.icon-menu-expand:before { content: "\e60b"; }

.icon-subsys:before { content: "\e626"; }

.icon-permmison:before { content: "\e7d2"; }

.icon-log:before { content: "\e612"; }

.icon-menu-collapse:before { content: "\e602"; }

